react-fruits-ES6/node_modules/babel-preset-es2015/node_modules/babel-plugin-transform-es2015-modules-commonjs/node_modules/babel-template/node_modules/lodash/chain/lodash.js
react-fruits-ES6/node_modules/
